<div class="container-fluid">


  <div class="row mt-5 mb-5">

    <div class="col-sm">
      <!-- <div class="card">
                  <img class="card-img-top" src="http://www.nationalgeographic.it/images/2017/02/17/121845769-5cd70c95-e40c-4fb6-99fa-955e334fa62b.jpg" alt="Card image cap">
                  <div class="card-body">
                    Meu site. Olá! Seja bem Vindo!
                  </div>
                </div>
              </div> -->
      <img class="card-img-top" src="http://www.nationalgeographic.it/images/2017/02/17/121845769-5cd70c95-e40c-4fb6-99fa-955e334fa62b.jpg"
        alt="Card image cap">

    </div>
    <div class="col-sm">
      <div class="card">
        <div class="ml-3 mt-3">
          <h2>
            <p class="text-truncate">Olá Meu nome é Bruno</p>
          </h2>
            <p class="text-truncate ml-3 mr-3">Sou un cara muito legal. shdashdjashdjashcncnzx,cbkhxgaks
            <br> un cara muito legal. shdashdjashdjashcncnzx,cbkhxgaks
            <br> un cara muito legal. shdashdjashdjashcncnzx,cbkhxgaks
            <br> un cara muito legal. shdashdjashdjashcncnzx,cbkhxgaks</p>

        </div>
      </div>


    </div>