
<div ng-app="">
<mat-toolbar color="primary">
	<span>My Application</span>
	
	<button  class="menu_reponsive" mat-button (click)="toggle()"><mat-icon>menu</mat-icon></button>
	
</mat-toolbar>
<mat-card *ngIf="show">
		<button mat-button>bababa</button>
</mat-card>


</div>
<mat-toolbar class="menu" color="secondary">

  <button mat-button>
    homeaa
  </button>
  <button mat-button>
    blaaaa
  </button>
  <button mat-button>
    blaaaa
  </button>
  <button mat-button>
    blaaaaa
  </button>
  <button mat-button>
    blaaaaa
	</button>
	


</mat-toolbar>




